@charset "utf-8";
.section2-1{
    width: 100%;
    height: 315px;
}
.secton2-1 .section2-div1{
    width: 100%;
    height: 315px;
}
.section2-1 .section2-div2{
    width: 305px;
    height: 130px;
    background: red;
    opacity: 0.9;
    margin-left: 70px;
    margin-top: -133px;
}
.section2-div2 .section2-img{
    margin-left: -175px;
}
.section2-div2 .p1{
    width: 140px;
    height: 40px;
    font-size: 33px;
    margin-top: 31px;
    margin-left: 35px;
    color: white;
    font-weight: bolder;
  }
.section2-div2 .p2,.section2-a{
    width: 140px;
    height: 20px;
    font-size: 14px;
    color: white;
    margin-left: 20px;
}
.section2-2{
    width: 100%;
    height: 130px;
}
.section2-2 p{
     font-size: 16px;
     width: 1200px;
     height: 60px;
     margin-left: 80px;
     margin-top: 35px;
     color: #555555;
 }
.section2-3{
    width: 400px;
    height: 380px;
    margin-left: 70px;
    margin-top: -60px;
    overflow: hidden;
    float: left;
}
.section2-3 img{
    width: 400px;
    height: 380px;
}
.section2-3 img:hover{
    transform: scale(1.2,1.2);
}
.section2-3 p{
    color: white;
    opacity: 0.9;
    height: 30px;
    font-family: 微软雅黑;
}
.section2-3 .section3-p1{
    width: 100px;
    margin-top: -380px;
    font-size: 23px;
    font-weight: bolder;
    margin-left: 30px;
    padding-top: 30px;
}
.section2-3 .section3-p2{
    width: 350px;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 30px;
}
.section2-4{
    width: 400px;
    height: 380px;
    margin-top: -60px;
    overflow: hidden;
    float: left;
}
.section2-4 a p{
    color: #555555;
}
.section2-4 a .section4-p1{
    color: #045491;
    width: 350px;
    height: 40px;
    font-size: 25px;
    margin-left: 40px;
    margin-top: 30px;
    font-weight: bolder;
    font-family: 微软雅黑;
}
.section2-4 a .section4-p2{
    width: 330px;
    height: 200px;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 5px;
    line-height: 25px;
    margin-right: 30px;
    font-family: 微软雅黑;
    display: inline-block;
}
.section2-4:hover{
    color: red;
}
.section2-4 .section4-a{
    margin-left: 40px;
    line-height: 90px;
    color: #045491;
    position: relative;
    top: -38px;
    left: -10px;
}
.section2-4 .section4-a{
    margin-left: 40px;
    line-height: 90px;
    color: #045491;
    position: relative;
    top: -38px;
    left: -10px;
    font-size: 13px;
}
.section2-4 .section4-p2:hover{
    color: #8A98A8;
}
.section2-5{
    width: 400px;
    height: 380px;
    margin-top: -60px;
    overflow: hidden;
    float: left;
}
.section2-5 img{
    width: 400px;
    height: 380px;
}
.section2-5 .section5-p1{
    width: 100px;
    margin-top: -380px;
    font-size: 23px;
    font-weight: bolder;
    margin-left: 30px;
    padding-top: 30px;
    opacity: 0.9;
    font-family: 微软雅黑;
    color: red;
}
.section2-5:hover .section5-p2{
    color: #8A98A8;
}
.section2-5 .section5-p2{
    width: 350px;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 30px;
    color: #000;
}
.section2-5 .section5-p3 span{
    font-size: 90px;
    color: red;
    font-weight: bolder;
    font-family: 微软雅黑;
}
.section2-5 .section5-p3{
    width: 300px;
    font-size: 23px;
    margin-left: 120px;
    padding-top: 70px;
    color: #000;
    font-weight: bolder;
}
.section2-5 .section5-p4{
    width: 350px;
    margin-top: -10px;
    font-size: 20px;
    margin-left: 220px;
    color: #000;
    font-family: 微软雅黑;
}

.section2-6{
    width: 400px;
    height: 380px;
    overflow: hidden;
    margin-left: 69px;
    margin-top: -2px;
    float: left;
    font-family: 微软雅黑;
}
.section2-6 a p{
    color: white;
}
.section2-6 img{
    width: 400px;
    height: 380px;
}
.section2-6 .section6-p1{
    width: 135px;
    margin-top: -380px;
    font-size: 24px;
    font-weight: bolder;
    margin-left: 30px;
    padding-top: 30px;
    font-family: 微软雅黑;
    opacity: 0.99;
}
.section2-6 .section6-p2{
    width: 135px;
    height: 40px;
    margin-top: 30px;
    font-size: 15px;
    margin-left: 30px;
    float: left;
    opacity: 0.99;
}
.section2-6 .numbers1{
    font-size: 23px;
    font-weight: bolder;
    font-family: 微软雅黑;
    float: left;
    margin-top: -11px;
}
.section2-6 .numbers2{
    font-size: 23px;
    font-weight: bolder;
    font-family: 微软雅黑;
    float: left;
    margin-top: -8px;
}
.section2-6 .numbers3{
    font-size: 23px;
    font-weight: bolder;
    font-family: 微软雅黑;
    float: left;
    margin-top: -11px;
}
.section2-6 .section6-p3{
    float: left;
    width: 250px;
    height: 40px;
    opacity: 0.99;
    font-size: 14px;
    margin-left: -30px;
    margin-top: 20px;
    margin-right: 10px;
    line-height: 25px;
}
.section2-6 .section6-p4{
    width: 80px;
    height: 40px;
    position: relative;
    top: 30px;
    left: -135px;
    float: left;
    opacity: 0.99;
}
.section2-6 .section6-p5{
    float: right;
    width: 240px;
    height: 100px;
    opacity: 0.99;
    font-size: 14px;
    line-height: 25px;
    position: relative;
    left: -30px;
    top: -15px;
}
.section2-6 .section6-p6{
    width: 80px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 30px;
    float: left;
    opacity: 0.99;
}

.section2-6 .section6-p7{
    float: right;
    width: 240px;
    height: 100px;
    opacity: 0.99;
    font-size: 14px;
    line-height: 25px;
    position: relative;
    left: -30px;
}
.section2-7{
    width: 400px;
    height: 380px;
    overflow: hidden;
    float: left;

}
.section2-7 img:hover{
    transform: scale(1.2,1.2);
}
.section2-7 .section7-p{
    opacity: 0.99;
    width: 120px;
    height: 30px;
    margin-top: -360px;
    margin-left: 40px;
    color: white;
    font-size: 25px;
    font-family: 微软雅黑;
    font-weight: bolder;
}
.section2-8{
    width: 400px;
    height: 380px;
    overflow: hidden;
    float: left;
}
.section2-8 img:hover{
    transform: scale(1.2,1.2);
}
.section2-8 .section8-p1{
    opacity: 0.99;
    width: 120px;
    height: 30px;
    margin-top: -360px;
    margin-left: 40px;
    color: white;
    font-size: 25px;
    font-family: 微软雅黑;
    font-weight: bolder;
}