@charset "utf-8";
.calendar {
	position: absolute;
	background: #f9f9f9;
	border: #fff outset 2px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 198px;
	z-index: 99;
}
.calendar button {
	margin: 0;
	padding: 0;
	background: #F9F9F9;
	border: none;
	cursor: auto;
	font-size: 15px;
	font-weight: normal;
	color: grey;
	width: 14px;
	height: 22px;
}
.calendar button.opbtn {
	font-size: 13px;
	color: grey;
	width: 88px;
}
.calendar button.thisday {
	margin-left: 2px;
}
.calendar .caleTit {
	background: white;
	border-bottom: #ccc solid 1px;
	font-size: 13px;
	line-height: 22px;
	color: #fff;
}
.calendar .caleTit button {
	float: right;
	background: white;
	/*border-left: #ccc groove 2px;*/
	/**border-left: #ccc outset 2px;*/
	vertical-align:middle;
	font-size: 13px;
	width: 18px
}
.calendar select {
	margin: 0;
	vertical-align: top;
	height: 22px;
}
.calendar table {
	margin: 2px auto;
	border-collapse: separate;
	border: none;
	width: auto;
}
.calendar table th {
	padding: 0;
	background: none;
	border: none;
	font-size: 12px;
	color: #000;
}
.calendar table td {
	padding: 1px;
	border: none;
	line-height: 18px;
	width: 20px;
	height: 18px;
}
.calendar table td.today a {
	border-color: #f60;
}
.calendar table td.onday a {
	background: #69c;
}
.calendar table td.onday a {
	color: #fff;
}
.calendar table td a {
	display: block;
	padding:0 1px;
	border: #39c solid 1px;
	text-decoration: none;
	color: #00f;
	height: 18px;
}
.calendar table td a:hover {
	background: #eee;
	color: #f00;
}
